* {
	margin: 0;
	padding: 0;
	font-family: 'Righteous', cursive;
	color: #F7A6B9;
}

html {
	scroll-behavior: smooth;
}

body {
	background-color: black;
}


.knowmore {
	margin: 30px;
}

.card {
	background-color: #7C6066;
	border: 5px solid #C9A2AC;
}

// #bilog {
// 	border: 5px solid #C9A2AC;
// 	border-radius: 50%;
// 	height: 200px;
// 	overflow: hidden;
// 	margin: 0 auto;
// }

.bilog-image {
	object-fit: cover;

}


#labasbilog {
	padding: 30px;
}

#logo {	
	width: 200px;
	height: 30px;
}

.banner {
	height: 100vh;
	background-image: url("./../images/landing.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

.box {
	border: 5px solid #C9A2AC;
	border-radius: 5px;
	position: absolute;
	padding: 40px;
	width: 80%;
	background-color: rgba(255,255,255,0.5);
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%); 
}

.down {
	position: absolute;
	bottom: 10%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 10px;
}

.down a {
	text-decoration: none;
}

h1 {
	letter-spacing: 2px;
	margin-bottom: 0;
	color: #F7A6B9;
	background-color: rgba(0,0,0,0.85);
	padding: 10px;
	border-radius: 10px;
	text-align: center;
	text-transform: uppercase;
	font-family: 'Righteous', cursive;
}

.box > p {
	font-size: 12px;
	font-family: 'Righteous', cursive;
	text-align: center;
}

// start aboutus

// #aboutus {
// 	background-color: #7C6066;
// 	height: 100vh;
// }



.footer {
	background-color: #C9A2AC;
	min-height: 10vh;
	text-align: center;
}

.social-links {
	width: 20px;
	height: 20px;
	/*border: 1px solid black;*/
	margin-right: 10px;
}


h2 {
	text-align: center;
	margin: 20px;
}

.btn {
	background-color: #C9A2AC;
	border: 1px solid black;
	text-transform: uppercase;
	color: black;
}

.memberow {
	text-align: center;
}

.memberpic {
	border: 5px solid #C9A2AC;
}

.member {
	div {
		padding: 50px;
	}
}

.gallerty-page {
	height: 100vh;
}

