* {
  margin: 0;
  padding: 0;
  font-family: "Righteous", cursive;
  color: #F7A6B9;
}

nav {
  background-color: black;
  /*position: fixed-top;*/
  /*position: sticky-top;*/
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: black;
  position: relative;
  padding-bottom: 168px;
  min-height: 100vh;
  /*padding-top: 50px;*/
}

h1 {
  font-size: 8vw;
}

h2 {
  /*font-size: 6vw;*/
  text-align: center;
  margin: 20px;
}

h3 {
  /*font-size: 4vw;*/
}

h5 {
  text-transform: uppercase;
  font-family: 'Teko', sans-serif;
  letter-spacing: 1px;
  margin: 0;
  text-align: center; 
  color: black;
}

p {
  font-size: 19px;
  font-family: 'Teko', sans-serif;
  letter-spacing: 1px;
}

.btn {
  background-color: #C9A2AC;
  border: 1px solid black;
  text-transform: uppercase;
  color: black;
  font-size: 14px;
}

.btn:hover,
.btn:active {
  background-color: black;
  color: #C9A2AC;
  border-color: #C9A2AC;
}

.cardefault {
  background-color: #7C6066;
  border: 5px solid #C9A2AC;
  height: 100%;
}

.card-header {
  text-align: center;
}

.card-footer > .btn {
  display: block;
}

.colcards {
  padding: 20px;
}

.references {
  font-size: 10px;
  color: grey;
  font-family: 'Teko', sans-serif;
  letter-spacing: 1px;
  /*position: absolute;*/
}

.references a {
  color: #7C6066;
}
/*start home css*/

/*start nav*/

#logo {
  width: 200px;
  height: 30px;
}

/*end nav*/

/*start banner row*/
.banner {
  height: 100vh;
  background-image: url("./../images/landing.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

h1 {
  letter-spacing: 2px;
  margin-bottom: 0;
  background-color: rgba(0, 0, 0, 0.80);
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  text-transform: uppercase;
}

.box {
  border: 5px solid #C9A2AC;
  border-radius: 5px;
  position: absolute;
  padding: 40px 40px 30px;
  width: 80%;
  background-color: rgba(255, 255, 255, 0.50);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation-delay: 1s;

}

.box > p {
  font-size: 3vw;
  color: black;
  text-align: center;
  padding: 10px;
  margin-bottom: 0;

}

.down {
  position: absolute;
  bottom: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  animation-duration: 5s;
}

.down a {
  text-decoration: none;
  font-size: 16px;
}

/*end banner row*/

/*start knowmore row*/

.knowmore {
  margin: 20px;
}
/*end knowmore row*/



/*end home css*/

/*start about css*/
/*about section*/
#aboutmain {
  background-image: linear-gradient(rgba(0,0,0,.75),rgba(0,0,0,.75)), url("https://dbkpop.com/wp-content/uploads/2019/04/blackpink_kill_this_love_concept_hd_all.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  padding-top: 50px;
}
/*history section*/
.historydetails {
  padding: 15px;
  align-self: center;
}

.historymore {
  /*padding: 40px;*/
  margin: 20px;
}

.historypic {
  align-self: center;
}

.hispic {
  border: 5px solid #C9A2AC;

}
/*albums*/
#aboutalbums {
  background-image: linear-gradient(rgba(0,0,0,.60),rgba(0,0,0,.60)), url("https://dbkpop.com/wp-content/uploads/2019/04/Blackpink_Kill_This_Love_MV_Teaser_all_2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  padding-top: 15px;
}

.albumtitle {
  margin-bottom: 0;
}

.albumyear {
  text-align: center;
}

.albumbody {
  padding: 1rem;
  /*align-self: center;*/
}
/*end about css*/

/*start member css*/

#membersbody {
  padding-top: 50px;

}


#membersection {
 background-image: linear-gradient(rgba(0,0,0,.60),rgba(0,0,0,.60)), url("https://vignette.wikia.nocookie.net/blinks/images/f/f6/Blackver.jpg/revision/latest?cb=20190404160248");
 background-size: cover;
 background-repeat: no-repeat;
 background-position: center center;
 background-attachment: fixed;
 padding-top: 15px;  
 /*height: 100vh;*/
}

#memberow {
  margin: 10px;
}
.imgsign {
  align-self: center;
}

.memberphoto {
  padding: 5px;
  
}
/*end member css*/


/*start gallery css*/

#gallerypage {
  /*align-self: center;*/
  border: 5px solid #C9A2AC;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 20px;
  

}

#gallerybodybody {
  padding-top: 50px;
}

.galleryphotos {
  background-color: #7C6066;
  border: 5px solid #C9A2AC;
  margin-top: 10px;
  margin-bottom: 10px;
  /*margin: 10px;*/
  /*padding: px;*/
}


/*end gallery css*/

/*start fan css*/
#letterbanner p {
  display: inline-block;
  text-align: center;
  background-color: rgba(0,0,0,.5);
  border: 2px solid #F7A6B9;
  border-radius: 15px;
  margin: 0;
  /*padding: 5px;*/
  padding-left: 10px;
  padding-right: 10px;
  /*font-size: 15px;*/
}

#fanbodybody {
  padding-top: 50px;
}

#letterbanner {
  background-image: linear-gradient(rgba(0,0,0,.60),rgba(0,0,0,.60)), url("http://images6.fanpop.com/image/photos/39800000/BLACKPINK-black-pink-39823998-1920-1080.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;


}

.formanswer {
  background-color: #F7A6B9;
  color: black;
  border: 5px solid #F7A6B9;
}

.formanswer:focus {
  background-color: #7C6066;
  color: #F7A6B9;
  border: 5px solid #C9A2AC;

}


#fan-page {
padding: 40px;
/*height: 70vh;*/
}


.fanletterinfo {
  padding: 0;
  padding: 20px;
}
#googlemaps {
  border: 5px solid #C9A2AC;
  border-radius: 10px;
  /*margin: 15px;*/
  width: 100%;
  height: 100%;
}
/*end fan css*/

.footer {
  background-color: #C9A2AC;
  min-height: 10vh;
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 0;
  padding-top: 1vh;
  padding-bottom: 2vh;
 
}

.footer small {
   color: black;
}


.social-links {
  width: 20px;
  height: 20px;
  /*border: 1px solid black;*/
  margin-right: 10px;
}



/*media queries*/

@media only screen and (max-width: 600px) {
.card-columns {
  column-count: 1;
}
} 

/*@media only screen and (min-width: 421px) and (max-width: 600px) {
.card-columns {
  column-count: 2;  
}
}*/

@media only screen and (min-width: 601px) and (max-width: 980px){
  .card-columns {
    column-count: 2;
  }
}

/*@media only screen and (min-width: 760px) and (max-width: 980px){
  .card-columns {
    column-count: 4;
  }
}*/

@media only screen and (min-width: 981px) {
  .card-columns {
    column-count: 5;
  }
}


